<% if (theme.home_banner.style === "fixed") { %>
    <style>
        .home-banner-container {
            background: none !important;
        }
        .home-article-item,
        .sidebar-links,
        .sidebar-content,
        a.page-number,
        a.extend,
        .sidebar-links .links:hover,
        .right-bottom-tools,
        footer.footer {
            background-color: var(--background-color-transparent-80) !important;
        }
        .right-bottom-tools:hover,
        a.page-number:hover,
        a.extend:hover {
            background-color: var(--primary-color) !important;
        }
        .site-info,
        .home-article-sticky-label {
            background-color: var(--background-color-transparent-15) !important;
        }
        .home-article-sticky-label {
            backdrop-filter: none !important;
        }
    </style>
    <div class="home-banner-background transition-fade fixed top-0 left-0 w-screen h-screen scale-125 sm:scale-110 box-border will-change-transform bg-cover">
        <img src="<%- url_for(theme.home_banner.image.light) %>" alt="home-banner-background" class="w-full h-full object-cover dark:hidden">
        <img src="<%- url_for(theme.home_banner.image.dark) %>" alt="home-banner-background" class="w-full h-full object-cover hidden dark:block">
    </div>
<% } %>

<div class="home-banner-container flex justify-center items-center transition-fade relative">
    <% if (theme.home_banner.style !== "fixed") {%>
    <div class="home-banner-background transition-fade absolute top-0 left-0 w-screen h-screen scale-125 sm:scale-110 box-border will-change-transform bg-cover">
        <img src="<%- url_for(theme.home_banner.image.light) %>" alt="home-banner-background" class="w-full h-full object-cover dark:hidden">
        <img src="<%- url_for(theme.home_banner.image.dark) %>" alt="home-banner-background" class="w-full h-full object-cover hidden dark:block">
    </div>
    <% } %>
    <div class="content mt-8 flex flex-col justify-center items-center">
        <div style="max-width: 90%;" class="description flex flex-col justify-center items-center w-screen font-medium text-center"
        <% if (theme.home_banner.custom_font.enable) { %>
             style="font-family: '<%- theme.home_banner.custom_font.family %>', sans-serif; !important;"
                <% } %>
        >
            <%- theme.home_banner.title || theme.style.first_screen.description || config.description %>
            <%# theme.style.first_screen.description is deprecated %>
            <% if (theme.home_banner.subtitle.length !== 0) { %>
                <p><i id="subtitle"></i></p>
            <% } %>
        </div>
        <div class="homebutton absolute bottom-0.5 flex flex-row justify-center max-w-[1340px] items-center w-full  px-8 sm:px-12">
            <div class="flex p-3 bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-lg border border-white/20 dark:border-gray-500/30 group rounded-full cursor-pointer flex justify-center items-center aspect-square h-full shadow-redefine-flat hover:shadow-redefine-flat-hover transition-shadow" onclick="scrollToMain()">
                <i class="fa-solid fa-arrow-down fa-bounce fa-fw fa-lg group-hover:translate-y-1 transition-transform"></i>
            </div>
        </div>
    </div>
    <script>
        const scrollToMain = ()=> {
            const target = document.querySelector('.main-content-container');
            document.querySelector('.homebutton').style.display="none"
            target.scrollIntoView({ behavior: 'smooth'});
        }
                // 添加监听事件
        window.addEventListener('scroll', () => {
        const homeButton = document.querySelector('.homebutton');
        if (window.scrollY === 0) {
            if (homeButton) { // 添加非空检查
                homeButton.style.display = "flex"; // 显示 homebutton
                } 
            } else if (window.scrollY + window.innerHeight >= document.body.offsetHeight) {
                if (homeButton) { // 添加非空检查
                homeButton.style.display = "none"; // 隐藏 homebutton
                }
            }
        });
    </script>
</div>
