<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<style>
    body {
      background-image: url('/images/background.webp'); /* 替换为您的背景图像路径 */
      background-size: cover; /* 使背景图像覆盖整个页面 */
      background-repeat: no-repeat; /* 不重复背景图像 */
    }
  </style>
  <!-- 引入 Swiper.js 的 CSS -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_plugins/aplayer') %>
<% } %>
</body>
</html>
